* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	margin-top: 20px;
	padding: 0;
	background-color: #c0c0c0;
	background-repeat: repeat-x;
	font-family: Arial, sans-serif;
	color: black;
	font-size: x-small;
}

#testcontainer {
	margin: 0 auto;
	width: 800px;
	border-left: 1px dashed black;
	border-right: 1px dashed black;
}

.postcontainer {
	width: 742px;
	padding-bottom:20px;
	margin: 0 auto;
}

.topbar {
	margin: 0 auto;
	width: 742px;
	background-image: url('images/a3-topbar.gif');
	height: 24px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color: white;
}

.topbar img {
	float: right;
}

.topbar span {
	margin-top: 3px;
	padding-left: 30px;
	line-height: 24px;
}

.contentcontainer {
	width: 100%;
	background-image: url('images/a3-windowsides.gif');
	padding: 0;
}

.thecontent {
	font-family: Arial, sans-serif;
	color: black;
	padding-top: 10px;
	padding-left: 15px;
}

.spacer {
	height: 10px;
}

.bottombar {
	line-height: 0;
	margin: 0 auto;
	clear: both;
	background-color: red;
	height: 1px;
}

.bottombar img {
	line-height: 0;
	padding: 0;
	margin: 0;
	border: 0;
	height: 6px;
	width: 742px;
}

#hintcontainer {
	font-family: 'Ubuntu', sans-serif;
	font-size: x-small;
	width: 742px;
	border: 1px solid black;
	color: white;
	margin: 0 auto;
	margin-bottom: 15px;
	background-image: url("images/a3-hintarrow.gif");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #526997;
}

#hintheader {
	padding-top: 5px;
	font-size: small;
	font-weight: bold;
	padding-bottom: 5px;
	text-align: center;
}

#hintheader img {
	float: right;
	padding-right: 5px;
}
	
#hintbody {
	font-size: x-small;
	font-weight: regular;
	text-align: center;
	padding-bottom: 20px;
}

#hintbottom { 
	padding-left: 5px;
	padding-bottom: 5px;
}

#hintbottom img {
	margin-right: 10px;
	float: right;
}

#hintclear {
	width: 100%;
	clear: both;
}
